<p id="notice"><%= notice %></p>

<center><h1>Listing Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Blog name</th>
      <th>About blog</th>
      <th>Background photo</th>
      <th>Follow</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.blog_name %></td>
        <td><%= blog.about_blog %></td>
       <td><%= blog.background_photo %></td>
        <td><%= blog.follow %></td>
        <td><%= blog.user_id%></td>
        <td><%= link_to 'View', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %></center>
